.criminalsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.criminal {
    border: 1px dotted black;
    flex-basis: 25%;
    margin: 12px 0;
    padding: 0 8px 12px;
}

body {
    background-color: rgb(190, 189, 189);
}

.noteFormContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.note {
    background-color: rgb(175, 172, 172);
    border: 1px dotted black;
    padding: 0.75rem;
    margin: 1rem 0;
    margin-right: 75%;
    text-align: center;
}